[2019-03-09 13:19] lion7 opened #7 "Mockito is added as a compile dependency instead of a test dependency"
https://github.com/microsoftgraph/msgraph-sdk-java-auth/blob/01f9e05842f5977aabe7370fe008b73125d0236a/build.gradle#L23

[2019-03-09 13:28] NakulSabharwal commented on #7
@lion7 Thanks for creating this issue. I will create a PR to fix this.

[2019-03-09 13:38] lion7 commented on #7
Thanks for the quick reply.

On a side note: this library doesn't seem compatible with https://github.com/microsoftgraph/msgraph-sdk-java, even though its only a few weeks old. Is the https://github.com/microsoftgraph/msgraph-sdk-java-core which this library depends on something different?

My use case is to send some email from a Java backend application using my Office 365 subscription. Followin

[2019-03-09 13:41] lion7 commented on #7
I'm probably doing something completely wrong: do I send REST messages direcly using an okhttp `HtpClient` instead of messing around with the SDK?

[2019-03-09 13:44] NakulSabharwal commented on #7
@lion7 This auth is currently a pre-release and still under development. Yes, currently this auth is not compatible with [msgraph-sdk-java](https://github.com/microsoftgraph/msgraph-sdk-java). We have build the [java-core (Preview) ]( https://github.com/microsoftgraph/msgraph-sdk-java-core) that will be compatible with this Auth provider. Also, we will be integrating [msgraph-sdk-java](https://git

[2019-03-09 13:49] NakulSabharwal commented on #7
@lion7

You can use [msgraph-sdk-java](https://github.com/microsoftgraph/msgraph-sdk-java) to make rest calls that will provide you with all Models related workloads with very easy request builder pattern. Also, you can use separately our [msgraph-sdk-java-core](https://github.com/microsoftgraph/msgraph-sdk-java-core) that uses OkHttp's http client but also our sdk provides middleware pipeline, cu

[2019-03-09 13:56] lion7 commented on #7
@NakulSabharwal thanks for update and extra information, it is much appreciated.
I'll try both options and see which 1 suits my needs best. I'll post my findings here later on :)

[2019-03-09 14:08] NakulSabharwal commented on #7
@lion7 Do share any problem in usage of  [msgraph-sdk-java](https://github.com/microsoftgraph/msgraph-sdk-java) or [msgraph-sdk-java-core](https://github.com/microsoftgraph/msgraph-sdk-java-core).

[2019-03-11 20:10] lion7 commented on #7
@NakulSabharwal after playing around a bit with both libraries I decided to stick with the stable and released https://github.com/microsoftgraph/msgraph-sdk-java.
For authentication I copied the `ClientCredentialProvider` in this repository and made it implement the `IAuthenticationProvider` required for the `GraphServiceClient` builder.
That did the trick and I'm now happily mailing using the Off

[2019-03-11 20:10] #7 closed

[2019-03-13 11:31] NakulSabharwal commented on #7
@lion7 We have updated this Auth library and binary( 0.1.0-SNAPSHOT ) and now its usable with both [msgraph-sdk-java](https://github.com/microsoftgraph/msgraph-sdk-java) and [msgraph-sdk-java-core](https://github.com/microsoftgraph/msgraph-sdk-java). Please try to use it in your application.

[2019-03-13 20:21] lion7 commented on #7
I tried it out and it works great with https://github.com/microsoftgraph/msgraph-sdk-java. I don't know if it works https://github.com/microsoftgraph/msgraph-sdk-java because I'm not using that at the moment.

[2019-04-02 18:20] skakanigit opened #12 "[ERROR] class file for com.microsoft.graph.httpcore.IAuthenticationProvider not found"
Please update readme.md file with correct version number. com.microsoft.graph.httpcore.IAuthenticationProvider class name was renamed to ICoreAuthentication Provider in msgraph-sdk-java-core library but where as ClientCredentialProvider is still pointing older version

[INFO] 1 error
[INFO] -------------------------------------------------------------
[INFO] ---------------------------------------

[2019-04-03 04:47] NakulSabharwal commented on #12
@skakanigit Thanks for reporting this issue. Most probably your issue is because of caching. If you are using eclipse right-click on project folder in eclipse->gradle->Refresh Gradle Project
If using intellij->File->Invalidate cache and restart. Please reply if you are still facing this issue.

[2019-04-03 15:01] skakanigit commented on #12
Thank you for the response @NakulSabharwal . I am still facing the issue even after doing cache invalidation. Also, I am building my application externally using maven and I don't think the issue is  related to IntelliJ internal caching.

[2019-04-08 03:46] NakulSabharwal commented on #12
@skakanigit I am not able to repro your issue. Can you try using Auth library in a new project and see if same error comes ? Try deleting C:\Users\YOUR_USERNAME\.gradle\caches\modules-2\files-2.1\com.microsoft.graph\microsoft-graph-auth\0.1.0-SNAPSHOT then start building again.

[2019-04-17 07:59] NakulSabharwal commented on #12
@skakanigit Closing this issue since we are not able to repro it. Pls reopen it if you are still facing same issue. Thanks.

[2019-04-17 07:59] #12 closed

[2019-04-27 20:36] kris96 commented on #12
Hi,
I am facing the same issue...
IntelliJ indicate this error message:

`authenticationProvider
(com.microsoft.graph.authentication.IAuthenticationProvider)
in Builder cannot be applied
to
(com.microsoft.graph.auth.confidentialClient.AuthorizationCodeProvider)
`

for this code (from README, 4.1 Authorization code provider):
[code]

And failed with message:

`Error:(66, 17) java: cannot access com

[2019-05-06 15:06] LeonStemerdink commented on #12
My issue was needing the following dependency when using Maven:

[code]
Include this in your pom and it should work. It contains the missing class.

[2019-06-11 17:38] zeeshan-v1 opened #14 "No Way to Initialize the AuthorizationCodeProvider using a valid RefreshToken"
In situations where you have already persisted the AccessToken (First Time Retrieved ) and refresh Token in the database for future use, there should be a way to initialize the AuthorizationCodeProvider with a RefreshToken directly instead of AuthorizationCode .
The feature request is analogous to what is available in google-oauth library with Credential Class.

[2019-06-14 17:47] JairoCordero commented on #12
this is due to com.microsoft.graph.0.1.0-SNAPSHOT has not been updated.

AuthorizationCodeProvider class is pointing to com.microsoft.graph.httpcore.IAuthenticationProvider

I just downloaded the source code of msgraph-sdk-java-auth, created my jar, and put it on my project. ERROR has gone

[2019-06-18 05:43] NakulSabharwal commented on #14
@zeeshan-v1 Thanks for creating this issue. We will look into meeting this requirement.

[2019-06-18 05:44] NakulSabharwal commented on #51
Hi, @zeeshan-v1 Thanks for creating this issue, these scenarios are taken care by auth library. We will look into meeting your requirement in our auth library - https://github.com/microsoftgraph/msgraph-sdk-java-auth

[2019-06-24 11:43] ViktorFefilov commented on #12
@NakulSabharwal this issue should be reopen

[2019-07-03 02:58] Angle-bo opened #15 "AuthorizationCodeProvider Cannot be used"
**com.microsoft.graph.auth.confidentialClient.AuthorizationCodeProvider** _implement is not a_ **com.microsoft.graph.authentication.IAuthenticationProvider**

_Causes unusable use_ **GraphServiceClient.builder().authenticationProvider(authProvider).buildClient();**
_and_ **HttpClients.createDefault(authProvider);**

[2019-07-03 03:04] Angle-bo commented on #15
Caused by: java.lang.NoClassDefFoundError: com/microsoft/graph/httpcore/IAuthenticationProvider

[2019-07-03 03:20] Angle-bo commented on #15
**microsoft-graph-auth-0.1.0-20190227.065917-1.jar** Inconsistent with source code on github
_AuthorizationCodeProvider extends BaseAuthentication implements IAuthenticationProvider, ICoreAuthenticationProvider_

[2019-07-03 03:51] Angle-bo commented on #15
The problem has been resolved, using github source code into my project instead of using microsoft-graph-auth 0.1.0-SNAPSHOT

[2019-07-03 03:51] #15 closed

[2019-07-19 05:48] rafi-m commented on #12
@NakulSabharwal i still face this issue as there is no class named IAuthenticationProvider in com.microsoft.graph.httpcore.

@JairoCordero do you mind giving the edited jar file for time being?

[2019-07-23 15:55] zeeshan-v1 opened #16 "Clarification: How are Errors handled in the library?"
Does this library handle the throttling /backoff errors itself. or are the errors propagated for user to take corrective action.
Concerned Especially about 429 Error/Throttling

[2019-07-24 20:18] dbudim commented on #12
Hi guys! Will be IAuthenticationProvider moved to correct package in msgraph-sdk-java-auth ?

[2019-08-05 14:44] demonsked opened #17 "[ERROR] class file for com.microsoft.graph.httpcore.IAuthenticationProvider not found"
Please update maven snapshot. There is an issue. Instead of fixed microsoft-graph-auth-0.1.0-SNAPSHOT.jar maven downloads affected microsoft-graph-auth-0.1.0-20190227.065917-1.jar.

[2019-08-17 03:12] nshowkath opened #18 "Need sample ClientCredentialProvider in microsoft-graph"
Hi ,

Our App registered in Azure & we have CLIENT_ID, SCOPES, CLIENT_SECRET, TENANT_GUID, NATIONAL_CLOUD
While implementing below usecase .
**Question1**
The class is missing ClientCredentialProvider in microsoft-graph
Do we need create ClientCredentialProvider ,if yes please provide sample  for oAuth

public class ClientCredentialProvider implements IAuthenticationProvider
or
else are we missing

[2019-08-17 04:34] nshowkath commented on #18
I have found answer in  microsoft-graph-auth [https://github.com/microsoftgraph/msgraph-sdk-java-auth/blob/d18630dfed597807cbc9b9af004739e228fbf56d/src/main/java/com/microsoft/graph/auth/confidentialClient/ClientCredentialProvider.java](url)

[2019-08-17 04:34] #18 closed

[2019-08-18 21:53] jski-root commented on #12
Hello. I am getting the same issue. when will maven be updated with the correction?

[2019-08-18 23:54] jski-root commented on #17
would this cause the following issue?

The type com.microsoft.graph.httpcore.IAuthenticationProvider cannot be resolved. It is indirectly referenced from required .class filesJava(16777540)

[2019-08-24 12:36] nshowkath opened #19 "Rel version of microsoft-graph-auth"
Hi   Sabharwal,

Currently microsoft-graph-auth has 0.1.0-SNAPSHOT version & we are building (mvn)  locally to consume. Project needs this dependency to be available on central repository.
Just curios to know when  will be microsoft-graph-auth  rel version available
As you know microsoft-graph , microsoft-graph-core has release versions
https://mvnrepository.com/artifact/com.microsoft.graph

Regar

[2019-08-24 16:22] darrelmiller commented on #19
Hey nshowkath,

We are working towards using MSAL as our primary authentication library for our SDKs.  Therefore we need to wait until the [MSAL library](https://github.com/AzureAD/microsoft-authentication-library-for-java) is out of preview before our auth provider can come out of preview.

[2019-08-26 16:31] pepavesely commented on #12
The one following your README at https://github.com/microsoftgraph/msgraph-sdk-java-auth will end up with following pom:

            <dependency>
			<groupId>com.microsoft.graph</groupId>
			<artifactId>microsoft-graph-core</artifactId>
			<version>1.0.0</version>
		</dependency>
		<dependency>
			<groupId>com.microsoft.graph</groupId>
			<artifactId>microsoft-graph-auth</artifactId>
			<version>

[2019-08-30 09:25] nshowkath commented on #19
Hi darrelmiller ,
Thanks for your reply .So cant we use for production till Microsoft releases  MSAL library ?
https://github.com/microsoftgraph/msgraph-sdk-java-auth
<dependency>
	<groupId>com.microsoft.graph</groupId>
	<artifactId>microsoft-graph-auth</artifactId>
	<version>0.1.0-SNAPSHOT</version>
</dependency>

Note : One option is we have to import this git project source code & add to our so

[2019-08-30 09:25] #19 closed

[2019-09-16 13:53] mvreijn commented on #12
There is a mismatch between two classes:

- `com.microsoft.graph.auth.confidentialClient.ClientCredentialProvider` uses `com.microsoft.graph.httpcore.IAuthenticationProvider`
- `com.microsoft.graph.requests.extensions.GraphServiceClient` uses `com.microsoft.graph.authentication.IAuthenticationProvider`

This means that they are not compatible anymore; the builder method `GraphServiceClient.Builder

[2019-09-17 11:29] NakulSabharwal commented on #12
@bilalgce Could you look into this issue.

[2019-09-17 14:03] bilalgce commented on #12
Thanks for reporting this issue. We're looking into this.

[2019-09-20 14:30] AliceBroadhurst opened #20 "ClientCredentialProvider not found in latest jar updates"

[2019-11-12 14:12] einue commented on #12
@bilalgce I get the same error. When will the maven dependency will be updated?

[2019-11-13 06:52] cheryalabalram commented on #17
While I am creating an object for IGraphServiceClient graphClient = GraphServiceClient.builder().authenticationProvider( authprovider ).buildClient();

giving compile time exception like :
The type com.microsoft.graph.httpcore.IAuthenticationProvider cannot be resolved. It is indirectly referenced from required .class files

[2019-11-13 12:12] einue commented on #17
I have the same error, hope this will be fixed soon.

I checked the com.microsoft.graph.httpcore - package. There is only the class named 	ICoreAuthenticationProvider instead of  IAuthenticationProvider . this was changed for 8 month.

Can anybody fix this soon? The Maven dependency on https://oss.sonatype.org/#nexus-search;quick~microsoft-graph-auth should be updated.

[2019-11-13 15:06] PiercarloSlavazza opened #21 "Getting HTTP 400 Bad Request when trying to add permission to a folder"
I am getting HTTP error code 400 when I try to add a "write" permission for a group to a folder with the following code (I haven't found any example in the docs):

[code]

Please note that with similar code I am able to retrieve existing permiossions, list childrens of a folder etc.

Is it a bug, or the code is somehow wrong?

[2019-11-13 16:45] PiercarloSlavazza commented on #21
Sorry, wrong place where to file the issue.

[2019-11-13 16:45] #21 closed

[2019-11-27 13:04] poovaraj opened #22 "The type com.microsoft.graph.httpcore.IAuthenticationProvider cannot be resolved. It is indirectly referenced from required .class files"
It is throwing below error message.

"The type com.microsoft.graph.httpcore.IAuthenticationProvider cannot be resolved. It is indirectly referenced from required .class files"

`
<dependency>
	<groupId>com.microsoft.graph</groupId>
	<artifactId>microsoft-graph-auth</artifactId>
	<version>0.1.0-SNAPSHOT</version>
</dependency>
Add in project

<profiles>
  <profile>
     <id>allow-snapshots</id>

[2019-12-04 17:25] pula2000 opened #23 "Is there a non snapshot version for this library?"

[2019-12-05 02:40] MIchaelMainer commented on #23
We are working to adopt the MSAL library for authentication. The current implementation was a temporary solution until MSAL was ready.

[2019-12-06 17:54] briatayan commented on #22
I'm encountering this issue as well, seems like it's referencing a class that no longer exists.

[2019-12-06 21:56] darrelmiller commented on #22
The IAuthenticationProvider interface is here https://github.com/microsoftgraph/msgraph-sdk-java/blob/dev/src/main/java/com/microsoft/graph/authentication/IAuthenticationProvider.java

This library is a companion library that works with the Java SDK.

[2020-01-06 09:53] kumbhaj commented on #12
can anyone provide the JAR microsoft-graph-auth

[2020-01-13 07:38] FelixJongleur42 commented on #23
Is MSAL ready now? https://github.com/AzureAD/microsoft-authentication-library-for-java/releases

[2020-01-19 15:46] remyadj commented on #12
@bilalgce Still facing the issue. Can you please help in providing the solution?

[2020-01-20 18:42] AMarquis1 opened #24 "[ERROR] class file for com.microsoft.graph.httpcore.IAuthenticationProvider not found"
The maven dependency need to be updated.It is not usable until then. ClientCredentialProvider.java is implemeting IAuthenticationProvider, but this class changed location in the project since last Graph.core update.
https://github.com/microsoftgraph/msgraph-sdk-java-auth/issues/17#issuecomment-553377748
https://github.com/microsoftgraph/msgraph-sdk-java-auth/issues/15#issue-463519542
https://githu

[2020-01-26 09:03] victormarcus commented on #12
You need to make a JAR from the source code. Use it with microsoft-graph-1.7 and microsoft-graph-core-1.0.0
[microsoft-graph-auth-jar.zip](https://github.com/microsoftgraph/msgraph-sdk-java-auth/files/4113283/microsoft-graph-auth-jar.zip)

[2020-01-30 13:40] kumbhaj opened #25 "I am trying to use microsoft graph auth library preview. I amable to initialize the graphClient but unable to get data.I am getting unauthorized 401."
"code": "InvalidAuthenticationToken", "message": "CompactToken parsing failed with error code: 80049217",
`List<String> scopes = new ArrayList<String>();
    scopes.add("User.Read.All");

ClientCredentialProvider authProvider = new ClientCredentialProvider(app-Id,
            scopes_list,
            client-Secret,
            tenantId, NationalCloud.Global);

IgraphClient graphClient = GraphServi

[2020-01-30 21:15] MIchaelMainer commented on #25
Answered on StackOverflow.

https://stackoverflow.com/questions/59987033/using-new-microsoft-graph-auth-library-java-sdk-gives-unauthorized-error

[2020-01-30 21:15] #25 closed

[2020-01-31 05:24] victormarcus commented on #25
@MIchaelMainer  I tried the solution given in   [ https://stackoverflow.com/questions/59987033/using-new-microsoft-graph-auth-library-java-sdk-gives-unauthorized-error](url).

`List<String> scopes = new ArrayList<String>();
 scopes.add("https://graph.microsoft.com/.default");

List<String> scopes = new ArrayList<String>();
scopes.add(".default");`

I tried above two with all the permissions grante

[2020-01-31 06:30] kumbhaj commented on #25
@NakulSabharwal Please address my issue.

[2020-02-03 05:13] kumbhaj opened #26 "I am trying to use microsoft graph auth library preview. I amable to initialize the graphClient but unable to get data.I am getting unauthorized 401."
I am trying to use microsoft graph auth library preview. I am getting unauthorized 401. **"code": "InvalidAuthenticationToken", "message": "CompactToken parsing failed with error code: 80049217",** I am passing the scope "https://graph.microsoft.com/.default". I have admin consent granted for applicaion permissions :

![Capture](https://user-images.githubusercontent.com/36796254/73627169-97305f80-

[2020-02-04 21:20] userNsu commented on #20
Is there any update on this? I do not find ClientCredentialProvider in the jar

[2020-02-11 06:46] kumbhaj commented on #26
@NakulSabharwal, @MIchaelMainer Can you please address this issue. It's not been resolved on Github.

[2020-02-11 17:50] MIchaelMainer commented on #26
@kumbhaj Nakul is no longer working on this project. We need to assign another dev to this project so that we can resolve this and other issues.

[2020-02-13 04:17] kumbhaj commented on #26
@MIchaelMainer Thanks for the response. I am counting on you.

[2020-02-13 12:28] victormarcus commented on #26
Apart from the above error I also get:

	at org.apache.oltu.oauth2.common.exception.OAuthProblemException.error(OAuthProblemException.java:63)
	at org.apache.oltu.oauth2.client.response.OAuthJSONAccessTokenResponse.setBody(OAuthJSONAccessTokenResponse.java:76)
	at org.apache.oltu.oauth2.client.response.OAuthClientResponse.init(OAuthClientResponse.java:92)
	at org.apache.oltu.oauth2.client.response

[2020-02-25 05:46] davidmoten opened #27 "Concurrent use not accounted for in authentication providers"
The sdk could easily be in use from multiple threads in an application. To keep new token requests to a minimum one approach is simply to add a synchronized keyword to `UsernamePasswordProvider.getAccessToken()` and other other providers in this project.

[2020-02-27 21:17] MIchaelMainer commented on #27
Thank you @davidmoten. We are adding this to our backlog to be considered when we have resources focused on this again.

[2020-03-03 17:25] vnukasani opened #28 "Better to provide maven version with com.microsoft.graph.httpcore.IAuthenticationProvider class file"
Dear Team,

It's better to provide maven version with com.microsoft.graph.httpcore.IAuthenticationProvider class file  as most of developers are using maven rather than gradle.

Even i could not get  com.microsoft.graph.httpcore.IAuthenticationProvider class in the below maven dependency.

<dependency>
		<groupId>com.microsoft.graph</groupId>
		<artifactId>microsoft-graph-auth</artifactId>
		<vers

[2020-04-03 00:47] jennyqq commented on #23
When the MSAL lib can incorporate the authentication providers which are in the temp solution?

[2020-04-08 14:34] maxstreifeneder commented on #12
any updates?

[2020-04-08 14:40] victormarcus commented on #12
@maxstreifeneder I guess this is still in development

[2020-04-10 04:42] kumbhaj commented on #26
https://stackoverflow.com/questions/43574573/apache-oltu-unsupported-response-type
Maybe you are missing this:
`request.addHeader("Accept", "application/json");
request.addHeader("Content-Type", "application/json");`

[2020-04-10 04:49] victormarcus commented on #24
Create JAR from the project source

[2020-04-22 11:43] michaltc commented on #22
I'm following example https://github.com/microsoftgraph/java-spring-webhooks-sample, Gradle variant compiles but the Maven one does not.

Hotfix for the Maven variant is to replace `<repository>`
 `https://oss.sonatype.org/content/repositories/snapshots` by `http://oss.jfrog.org/artifactory/oss-snapshot-local` in `pom.xml`. This one is referenced in `build.gradle` and probably contains a newer var

[2020-04-23 21:37] debarshri commented on #12
This problem can be solved as follows.

[code]

This is re-implementing of ClientCredentialProvider. You can do the same for other providers.

[2020-04-23 21:38] debarshri commented on #28
related to #12

[2020-04-23 21:38] debarshri commented on #24
see #12

[2020-04-23 21:39] debarshri commented on #22
see #12

[2020-04-23 21:39] debarshri commented on #17
see #12

[2020-04-28 11:01] vnukasani commented on #12
I think still issue persists.

I mean below class not found in  microsoft-graph-auth-0.1.0-SNAPSHOT

ERROR] class file for com.microsoft.graph.httpcore.IAuthenticationProvider

[2020-04-28 12:52] debarshri commented on #12
@vnukasani  If you are using maven, then you have to add this to your pom.xml file.
This will solve the missing dependency problem.
[code]

[2020-05-01 05:17] fstuff commented on #12
Hello,

I encountered this same issue tonight, and was able to resolve it by refreshing the snapshot cache.  In Eclipse, I right-clicked on the top-level project.  Then I selected Maven, and then Update Project.  Then I enabled the checkbox for "Update project configuration from pom.xml:

![image](https://user-images.githubusercontent.com/1115274/80783951-4aeda200-8b30-11ea-8cf1-4ef24f0c16bc.png)

[2020-05-01 05:30] fstuff commented on #12
Immediately after I posted my comment, the behavior re-appeared.  I used the following maven command:`mvn dependency:purge-local-repository` which I found from here https://stackoverflow.com/questions/7408545/how-do-you-clear-apache-mavens-cache

I think that finally did it....

[2020-06-04 20:04] #17 closed

[2020-06-04 20:42] #22 closed

[2020-06-04 20:43] #24 closed

[2020-06-04 20:43] #28 closed

[2020-06-04 21:29] tech-behemoth commented on #22
When will this fix be released? One year to fix this issue, really? This library is an embarassment to Microsoft, much like Windows Phone and Skype. In fact the entire Azure cloud service is crappy as hell. Unfortunately I'am working on a project that has no option but to use Microsoft Graph API. But, if I were to choose, never in my life I would choose Azure cloud service. The fact that it is so

[2020-06-04 21:55] vtiwari227 commented on #28
@MIchaelMainer @baywet  I think, the maven build is still don't have merge changes from today. Can you publish changes to maven ?

[2020-06-05 21:43] baywet commented on #28
@MIchaelMainer is working on it from our last chat offline. We'll post an update on the pull requests and issues once it's done

[2020-06-05 23:12] MIchaelMainer commented on #28
@vtiwari227 @debarshri @vnukasani

A snaphot has been published microsoft-graph-auth 0.2.0-SNAPSHOT.

[2020-06-05 23:19] MIchaelMainer commented on #17
This is available in microsoft-graph-auth 0.2.0-SNAPSHOT.

[2020-06-05 23:20] MIchaelMainer commented on #22
This is now available in microsoft-graph-auth 0.2.0-SNAPSHOT. Agreed, this should have been done a long time ago.

[2020-06-05 23:22] MIchaelMainer commented on #24
This is now available in microsoft-graph-auth 0.2.0-SNAPSHOT.

[2020-06-06 00:05] vtiwari227 commented on #28
@baywet @MIchaelMainer Not sure, if related but pulling 0.2.0-SNAPSHOT from maven is failing  because it's looking for 1.0.1 for ms-graph-core and that is returning  404.

[code]

[2020-06-06 00:24] baywet commented on #28
Yep it's available on bintray https://dl.bintray.com/microsoftgraph/Maven/com/microsoft/graph/microsoft-graph-core/1.0.1/microsoft-graph-core-1.0.1.jar

I already have an issue open about the fact that it's not published on Central
https://github.com/microsoftgraph/msgraph-sdk-java-core/issues/30

Maybe @MIchaelMainer can help with that as well.

[2020-06-09 17:49] vtiwari227 commented on #28
@metathinker Can you help promoting ms-graph-core-1.0.1 to maven so we can void having bintray dependency. thanks
and also do you guys have a timeline, when there will be a stable (non snapshot) version of this lib( msgraph-sdk-java-auth) will be released so we no longer need to add sonatype in build.sbt. thanks for the help

[2020-06-09 17:52] baywet commented on #28
@vtiwari227 let's move this part of the discussion over the issue I already created there? the work in the repo we're currently in has been done, now it's a matter of another repo.

[2020-06-09 18:31] metathinker commented on #28
Sorry, unfortunately I don't work in this area. I think @baywet has you covered, though.

[2020-06-11 15:04] KSVarun opened #32 "Post request to create an event using graph api createEvent is throwing “OrganizationFromTenantGuidNotFound” error"
I want to generate an online event using Microsoft graph API.

I have office 365 subscription

I have registered an application in Azure AD with account type " Accounts in any organizational directory (Any Azure AD directory - Multitenant) and personal Microsoft accounts (e.g. Skype, Xbox)"

Not provided any redirect URL while configuration

I have given both delegated and application permissions

[2020-06-11 20:36] MIchaelMainer commented on #32
Can you double check the value you captured for tenantId?
Are you using a consumer account like outlook.com? You won't be able to use this application as configured for a consumer account if you use the tenantId.

https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-client-application-configuration#authority

[2020-06-11 20:49] GaganBhat commented on #20
@userNsu Please use the new 0.2.0-SNAPSHOT, this contains the ClientCredentialProvider now.

[2020-06-12 02:50] KSVarun commented on #32
I tried with different domain accounts, outlook.com, gmail.com and hotmail.com by specifying **tenent id (alpha-numeric)** when single and multi tenant is selected for the application and **common** when school, work and personnel accounts is selected for the application.

When I replace tenant id (alpha numeric) by "common" I get the **Bad Request**. Please check the stack trace below.

[stack_tr

[2020-06-15 03:36] kokmike opened #34 "How to support Client Credential mode with certificate ?"
Hello,

The current clientCredentialProvider need a clientSecret to builder the oauth2 request.
But it exists another way to use certificate instead of clientSecret which is recommended by Microsoft.
Is there some possible solution for certificate ?

Thanks.

[2020-06-16 07:39] bibhutik opened #35 "Sending email using ClientCredentialProvider is failing to find tenant guid"
I have created a an personal email  account as XXXX@outlook.com. Using this account I  have login to Azure AD and create a tenant there. Using ClientCredentialProvider  trying to send an email to Myself.
Steps :
1. Created a Tenant account.
2. Created an application and given permission in Graph>Application->Send.email etc
3. created a Secret key.
4. Code

 private static void sendEmail()
    {

[2020-06-17 06:36] KSVarun commented on #32
@MIchaelMainer can you please provide an update on this.

[2020-06-17 06:38] KSVarun commented on #32
I tried the same with postman by getting the access token first and then calling the post request with access token received but still getting the same error "OrganizationFromTenantGuidNotFound"

[2020-06-17 20:58] MIchaelMainer commented on #32
This doesn't appear to be a client library issue. I suggest that take a look at some of the StackOverflow Q & A on this topic. Let us know if one of them solves the issue and let us know which one provides the answer.

https://www.bing.com/search?q=OrganizationFromTenantGuidNotFound&FORM=ANCMS9&PC=U531

[2020-06-18 20:22] MIchaelMainer commented on #34
We'll add support for this when we add the MSAL Java dependency.

[2020-06-18 20:28] MIchaelMainer commented on #35
You are using a personal account and not an account in a tenant. The tenant cannot be set. You need to use the common authority. Please take a look at this document.

https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-client-application-configuration#authority

Also, please delete your client secret and update your application registration. so that it is an invalid secret.

Addit

[2020-06-19 20:27] marcosvidolin opened #36 "Create user error: password complexity"
Hi,

I got the following error when I try to create a new user using graph api. I already set the password policies to **DisablePasswordExpiration** and **DisableStrongPassword**

The users may have a weak password because they came from a legacy IdP. I'm migrating all of then from a legacy IdP to the Azure B2C.

Is there an extra configuration that I missed?

That is my code:

[code]
Tks

[2020-06-23 03:43] KSVarun commented on #32
I did check with stackoverflow and microsoft forums, following all the answers still no success. Still getting the same OrganizationFromTenantGuidNotFound.

[2020-06-23 14:38] jasonjoh commented on #32
I posted an answer on [Stack Overflow](https://stackoverflow.com/questions/62326756/post-request-to-create-an-event-using-graph-api-createevent-is-throwing-organiz/62537301#62537301). This isn't an issue with the auth provider, @MIchaelMainer I recommend closing this issue.`

[2020-06-24 00:03] ramsessanchez opened #37 "No non-snapshot versions available. Must deploy library to Maven Central and Bintray repositories"
[AB#7119](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7119)

[2020-06-24 05:55] KSVarun commented on #32
It's still giving me the same error.

Please take a look at the screenshot below,

![image](https://user-images.githubusercontent.com/15784650/85506115-60051f80-b60d-11ea-9470-d22cad58329e.png)

[2020-06-25 20:42] MIchaelMainer commented on #36
Thank you for your question. Please post your question to [StackOverflow](https://stackoverflow.com/questions/tagged/microsoft-graph) and tag your post with
the [microsoft-graph] tag. Make sure you include the following information:
1. Tell us what you've tried. Include detailed reproduction steps.
2. Link to the documentation and samples that you've used as reference.
3. Provide an example HTTP r

[2020-06-25 20:42] MIchaelMainer commented on #36
Provide a link to your SO post in this issue.

[2020-06-25 20:43] #36 closed

[2020-06-26 21:43] ramsessanchez opened #47 "Capture Steps after release through pipeline"
After the release pipeline there are still a few steps that need to be captured and specified so that a full release is possible to the Maven and Bintray repositories.
We must capture these steps and make them easy to follow.
[AB#7121](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7121)

[2020-07-03 05:45] victormarcus commented on #26
The issue is now resolved. Maybe be because of recent changes

[2020-07-03 05:45] #26 closed

[2020-08-18 02:56] davidmoten commented on #52
My experience with the Graph API supports this explanation. I had to solve the same problem a few weeks ago.

[2020-08-18 13:05] gantners commented on #52
There are multiple issues as far as I can overlook it.

First Audience is mixed when using the client with authenticationprovider which effectively authenticates the PUT request, but should not as stated:

You can get around that by providing a client with a NOOP on the authenticateRequest Method, not signing the request.

[code]

The uploadUrl from the UploadSession will be sufficient as it provi

[2020-08-18 17:49] jball-vcra commented on #52
@gantners , thank you for the detailed reply. I don't see an open issue for the ChunkedUploadResponseHandler, but you're correct, the 200 (HTTP OK) is in the wrong place, leading to the uploader halting after the first chunk and erroneously reporting the file upload completed successfully.

[2020-08-20 08:51] gantners commented on #52
**Maximum POST** byte size for uploading is exactly **3145611 bytes**.
**Minimum UploadSession** byte size is exactly **2097152 bytes**.

POST above will lead to an exception **413 : Request Entity Too Large**
There is also a minimum file size limit for creating an uploading session **ErrorAttachmentSizeShouldNotBeLessThanMinimumSize**

This values are nowhere to find in the documentation (3MB and

[2020-08-20 08:59] davidmoten commented on #52
I think the limit for POST etc is encoded size. If you're posting bytes in JSON then they will be base 64 encoded. That's probably why it seems that the max is 3.x MB of raw content.

[2020-08-20 09:07] gantners commented on #52
Shouldn't the type of transfer POST vs UploadSession be handled purely by the sdk itself rather than the developer?
Calling a high level upload function without needing to know the implementation details would be sufficient i guess.

[2020-08-20 10:23] davidmoten commented on #52
Would be nice for sure. Some sort of helper method would be an obvious contribution. I went through the same experience with my alternative client: https://github.com/davidmoten/odata-client#sending-an-email-with-an-attachment.

[2020-08-24 21:41] jball-vcra commented on #52
@MIchaelMainer, please don't conflate the last comments about a helper method with the original bug report.  Using the provided API results in a 401, that's a bug, and should be treated as such. Streamlining the attachment process so developers don't have to use two different processes should be a separate feature request.

[2020-09-04 12:52] zeeshan-v1 opened #51 "Extend DefaultHttpProvider to auto-refresh token while handling ErrorResponse"
### Expected behavior
Implementation of IHttpProvider class which gives the capability to handle Token Invalidation Errors within the class itself. Consider a Scenario, wherein you can pass  RefreshToken to the HttpProvider Impl class during initialization. so that while handling the error response in 'handleErrorResponse' method , if an Invalid Token is detected, We could refresh the token  and i

[2020-09-17 18:13] jball-vcra opened #52 "401 when using ChunkedUploadProvider for large mail attachments"
Expected behavior
ChunkedUploadProvider.upload(...) uploads the specified file and attaches it to the message, per https://docs.microsoft.com/en-us/graph/outlook-large-attachments?tabs=java.
Actual behavior
401 : Unauthorized upon request.
com.microsoft.graph.core.ClientException: Error code: InvalidAudienceForResource
Error message: The audience claim value is invalid for current resource. Audien

[2020-09-17 18:23] baywet commented on #52
Hey everyone,
Thanks for your feedback and patience on the matter.
I've just transferred the issue as the fault actually comes from the auth library and not the service library (msgraph-sdk-java).
The reason it's doing that is because the authentication providers are not checking which service (host) the request is going to and attaches a JWT anyway, which has an invalid audience.
I worked this ar

[2020-09-17 19:16] #20 closed

[2020-09-23 22:24] abbeycode opened #54 "UsernamePasswordProvider (Delete Me)"
Please delete this issue for me. I accidentally overshared in the original revision, and opened a new issue with the contents redacted.

[2020-09-23 22:29] abbeycode opened #55 "Authentication failures using UsernamePasswordProvider and ClientCredentialProvider: Response body is not application/json encoded"
I'm trying to use Username/Password authentication (in conjunction with an AD account created for this purpose), since we want to limit access to only specific directories within SharePoint. I've got working code using .Net Core's Graph SDK that I'm porting to Java for a different application, and I can't get it to authenticate. I pasted the error from my test case's logs below, as well as the Jav

[2020-09-23 23:02] #54 closed

[2020-09-24 01:37] abbeycode commented on #54
Are you able to delete this post instead of only closing it? There’s confidential info in the edit history. Sorry for the hassle.

[2020-09-24 02:05] baywet commented on #54
I'm not but it might be a permission issue. @MIchaelMainer can you delete this post?

[2020-09-24 13:38] mrharindra opened #56 "ClientCredentialProvider is not thread safe"
In getAccessToken() method

if access token is expired then all threads will renew the token.

Also if 1st thread get new token, update the start time and then 2nd thread comes (before updating the access token by 2st thread)
in this case 2nd thread get old access token

[2020-09-24 20:28] MIchaelMainer commented on #56
We will be migrating to Azure.Identity for providing token authentication. We will review this issue during that migration to address this case.

[2020-09-24 20:30] MIchaelMainer commented on #55
Will review this when we migrate to Azure.Identity.

[2020-09-24 21:33] abbeycode commented on #55
@MIchaelMainer should I take that to mean my authentication code looks correct to you?

Also, is there a PR or issue associated with the Azure.Identity migration that I can watch? And is there an ETA?

[2020-09-24 22:21] baywet commented on #55
One pr you can watch is this one.
https://github.com/microsoftgraph/msgraph-sdk-java-core/pull/42
And more generally the milestone 3.0.0 on the SDK repo and 2.0.0 on the core repo

[2020-09-24 22:24] baywet commented on #55
You can also look at our integration tests to see how we implemented auth for integration testing. We didn't use this lib to avoid a circular dependency

[2020-09-24 23:05] abbeycode commented on #54
@MIchaelMainer do you have delete permissions on this one?

[2020-09-25 17:43] MIchaelMainer commented on #55
@abbeycode Yes, the authentication code looks correct to me. Are you using the same user for both scenarios? Have you compared the contents of the access token in both scenarios? Have you compared the http traffic with Azure AD between the .Net and Java client?  Are you using a consumer account? That error is familiar but I can't recall the conditions in which I've seen it.

By the way, I deleted

[2020-09-27 20:34] abhijeetsaxena7 opened #57 "Serialization failed for IAuthenticationResult"
I am trying to use spring jdbc session and I want to store the IAuthenticationResult object returned on calling ClientConfidentialParamter.acquireToken() method. However, I keep getting the error that IAuthenticationResult cannot be serialized. I looked into it and realized that IAuthenticationResult is an interface. AuthenticationResult is the subclass but I cannot use it as its visibility is def

[2020-09-28 12:02] baywet commented on #57
@abhijeetsaxena7
Thanks for reaching out.
This class/interface belongs to MSAL and not this library. https://github.com/AzureAD/microsoft-authentication-library-for-java
I suggest you open an issue over there instead.
Closing.

[2020-09-28 12:02] #57 closed

[2020-09-28 17:21] abbeycode commented on #55
Thanks for deleting the other post. I've now updated the leaked password.

Also, yes, I'm using the exact same credentials and IDs between the two projects for now as I figure out this authentication issue. I've gotten a workaround going by bringing in the Azure.Identity library and some classes from the pull request @baywet  sent over, but I'm not sure I'd rather use that library, as it brings ov

[2020-09-29 17:50] abbeycode commented on #55
@MIchaelMainer @baywet See above also, but I wanted to update that I'm also seeing the same error with the same stack trace using a `ClientCredentialProvider` instead of the `UsernamePasswordProvider`. I'm going to update the title of this issue to reflect that, and the actual underlying error.

[code]

Resulting in the same error:

[code]

[2020-09-29 18:02] abbeycode commented on #55
I'm all set with this now. The body coming back was indicating that there was an invalid scope, but because I was missing the org.json dependency, the error wasn't getting parsed properly, and the exception was being discarded. I added that dependency and am using the `https://graph.microsoft.com/.default` scope everywhere. Thanks for your assistance.

[2020-09-29 18:02] #55 closed

[2020-09-30 20:49] ddyett commented on #16
closing this down as we'll be swithcing to supporting azure identity,

[2020-09-30 20:49] #16 closed

[2020-10-01 19:22] #23 closed

[2020-10-19 09:55] gbaso opened #58 "Snapshot artifact not present in repository"
Following the instructions in the readme, I put the dependency definition in my pom:

[code]
[code]

However, build fails with error:

[code]

Furthermore, directory listing on the repository is disallowed, therefore it's impossibile to determine correct coordinates for version 0.3.0-SNAPSHOT.

[2020-10-19 09:56] gbaso commented on #58
Reproduction:
* clone https://github.com/gbaso/msgraph-sdk-java-auth-issue-58
* compile with `./mvnw clean package -U`

[2020-10-19 14:07] baywet commented on #58
hey @gbaso
Thanks for letting us know. For some reason the CI had filters on the files I modified the last time and it didn't trigger because of that.
I authored #59 to fix the CI, once this is merged, we'll be able to publish a new snapshot.

[2020-10-19 15:26] #58 closed

[2020-10-20 11:09] sjdean opened #60 "Android Compile Issues - Duplicate class org.apache.oltu.oauth2.common.*"
Im trying to compile this into and Android App, but getting loads of duplicate class issues. On top of that, looking at Apache Oltu, it appears that oltu has been archived and no longer being maintained.

Has anyone seen the following and got a solution for:

[code]

[2020-10-20 12:23] baywet commented on #60
Hey @sjdean
Thanks for reaching out. You're probably getting this error because another dependency of your project is pulling the same library.
You can fix that by excluding the dependency from the import of this library. Have a look at this comment https://github.com/microsoftgraph/msgraph-sdk-java/issues/457#issuecomment-690293737

Additionally, we already have ongoing work to drop this dependen

[2020-10-20 13:37] sjdean commented on #60
Thanks @baywet

Using this in my apps build.gradle file works great:

    implementation ('com.microsoft.graph:microsoft-graph-auth:0.3.0-SNAPSHOT') {
        exclude group:'org.apache.oltu.oauth2' , module: 'org.apache.oltu.oauth2.common'
    }

Thanks. It all compiles now.

[2020-10-20 13:39] #60 closed

[2020-10-20 13:39] baywet commented on #60
thanks for sharing the solution! it might help others. Happy coding!

[2020-11-01 14:56] mejiaej commented on #14
Any update regarding this issue? I don't want to make my users consent every time they log in.

[2020-11-02 13:15] baywet commented on #14
Hey everyone,
Thanks for the feedback.
For the v3 of the SDK, we're actively working on integrating with Azure identity which will allow for more authentication and authorization scenarios. This integration will replace the -auth library (this repo).
You can follow the progress [here](https://github.com/microsoftgraph/msgraph-sdk-java-core/pull/42), [here](https://github.com/microsoftgraph/msgraph

[2020-11-03 07:50] victormarcus opened #61 "CompactToken parsing failed with error code: 80049217"
We are using the following libraries:
1. microsoft-sdk-java-auth 0.2.0
2. microsoft-graph 2.3.1
3. microsoft-graph-core 1.0.5

We get this error sometimes while fetching any user's details.
ex- https://graph.microsoft.com/v1.0/users/email-addr@domain.com

Trace:
com.microsoft.graph.http.GraphServiceException: Error code: InvalidAuthenticationToken
Error message: CompactToken parsing failed with er

[2020-11-10 16:56] talasj opened #62 "Java SDK - ClientCredentialProvider is throwing a certificate error during http request"
Posting a calendar event using ClientCredentialProvider is throwing a certificate error during http request. Am I missing any configuiration changes? Any help is appreciated.

ClientCredentialProvider authProvider = new ClientCredentialProvider("xxxx",
				Arrays.asList("https://graph.microsoft.com/.default"), "xxc", "aaa", NationalCloud.Global);
DefaultLogger logger = new DefaultLogger();

[2020-11-12 21:42] MIchaelMainer commented on #62
Can you investigate the validity of the certificates you are using for your application?

[2020-11-25 14:06] black-snow commented on #14
@baywet Is there a timeline for v3 / transparent (re-)auth? The milestones have Nov2020 but that does not seem possible anymore ;)

[2020-11-25 14:10] baywet commented on #14
@black-snow thanks for the nudge. Indeed, some work is taking longer than originally expected and/or uncovering other issues I had not anticipated. Overall this is a good thing as it'll raise the quality bar for the SDK, but it means we are looking at a later release date. I've updated to Dec 18th, again, this is a tentative like always.

[2020-12-07 23:58] parttimer1 opened #64 "Error authenticating with UsernamePasswordProvider"
Hi - I have an app reg setup in azure and c# code that works and now i'm trying to do the same thing in java with issues.

The app reg is setup with delegate permissions. Might someone have any recommendations as to what is causing this? Is it possible to have it display the auth token in order to troubleshoot better?

[code]

[code]

[2020-12-08 15:50] MIchaelMainer commented on #64
Take a look at the documentation for the ROPC workflow. Have you triple checked the username and password? (have to ask)

https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc#error-response

Are you you using the same user and client application as the one you're using in C#?
Are you using the same auth flow in C#?
I'm curious, why do you have a C# app and a Java app?

Is

[2020-12-09 19:58] parttimer777 commented on #64
Correct, this is a hybrid environment and the user is in an on-prem AD. The 2 apps (java and c#) are both on-prem. The app-reg is setup as a desktop "platform" with "urn:ietf:wg:oauth:2.0:oob" as the redirect URI. I'm inclined to believe it won't work; I'm just confused as to why the c# one works. Does the msgraph c# lib behave differently? Like does it hook into the IIS integrated auth...? (wild

[2020-12-09 22:57] MIchaelMainer commented on #64
I'm confused on why the c# one works too. . Have you captured and compared the requests/response between both clients? What do you see?

[2020-12-09 23:51] parttimer777 commented on #64
Are you suggesting to wireshark and compare? i guess it's coming to that... im not sure how to do that with encrypted traffic but i will try...

Just verified the app-reg settings:
*Platform: "Mobile and desktop applications"
*Redirect uris: "urn:ietf:wg:oauth:2.0:oob"
*Implicit grant: "ID Tokens"
*Allow public client flows: "Yes"

Here's the c# code that absolutely works:
[code]

[2020-12-10 00:00] MIchaelMainer commented on #64
Yeah, its what I'd have to do at this point as I'm not well enough versed with identity scenarios. Hey, I wonder if identity has issue with you setting `CLIENT_SECRET` in the UsernamePasswordProvider. Can you leave those out?

[2020-12-10 00:01] MIchaelMainer commented on #64
Are you using the same clientId for both C# and Java?

[2020-12-10 00:22] parttimer777 commented on #64
Correct, same clientId/appReg. Nulling the client_secret and trying the 4 param constructor version of UsernamePasswordProvider has no effect.

[2020-12-10 15:16] parttimer777 commented on #64
Just fiddler'ed the c# app a second ago. It does a discovery request on the provided username and gets the internal network saml auth service url. Then it makes a request to the saml auth service to get the bearer assertion token. Then finally it requests the MS Graph oauth url with the saml bearer assertion token to get the graph access token.

keywords for this is "MSAL" "SAML Bearer assertion f

[2020-12-10 17:32] MIchaelMainer commented on #64
This library likely does not support it. It was created before MSAL for Java was available. I assume that [MSAL for Java](https://github.com/AzureAD/microsoft-authentication-library-for-java) supports this.

We need to use MSAL within an implementation of IAuthenticationProvider and ICoreAuthenticationProvider.

[2020-12-10 17:35] parttimer777 commented on #64
Ok thanks. For people who will see this thread, a possible solution is to create a C# webapp where you specify the username/pass and it will return you the graph access token. I'll close this issue.

[2020-12-10 17:35] #64 closed

[2020-12-10 20:01] baywet commented on #64
FYI the work Michael is mentioning is ongoing here https://github.com/microsoftgraph/msgraph-sdk-java-core/pull/42

[2020-12-16 11:03] black-snow commented on #14
Looks like it's Jan 18th now :P

[2020-12-16 14:54] baywet commented on #14
Full transparency: what's blocking us at the moment is a decision on which android API level we'll support. Initial v3 work had managed to keep it to 21 but some dependencies on the identity changes are 26, which we feel is a big drop in audience. We're trying to regroup with the identity teams to see what can be done here but it's unlikely that it'll happen before holiday times.
Thanks for your p

[2021-01-27 18:06] baywet commented on #14
@black-snow (and others) you might be interested in this https://github.com/microsoftgraph/msgraph-sdk-java/issues/628 :)

[2021-01-27 18:09] #47 closed

[2021-01-30 12:56] amit17051980 opened #65 "OAuthProblemException{error='invalid_grant', description='AADSTS50148: The code_verifier does not match the code_challenge supplied in the authorization request for PKCE."
While using below example API, I get the error. How can I pass the code_verifier and code_challenge in the API?

**Error**:

OAuthProblemException{error='invalid_grant', description='AADSTS50148: The code_verifier does not match the code_challenge supplied in the authorization request for PKCE.

**Code**:

AuthorizationCodeProvider authProvider = new AuthorizationCodeProvider("client_id",
				Arra

[2021-02-01 13:38] baywet commented on #65
Hi @amit17051980
Thanks for reaching out.
Not at the moment. You can however implement ICoreAuthenticationProvider and IAuthenticatationProvider (SDK < 3.0.0-SNAPSHOT) to do so.
We currently have a [preview of the next version of the SDK](https://github.com/microsoftgraph/msgraph-sdk-java/issues/628) out there which features great improvements. A better authentication story is part of those improv

[2021-02-02 15:53] black-snow commented on #14
@baywet thanks for the update! I haven't tested the preview yet but, *ad hoc*, I don't see what's changed. Is the auth lib now part of the SDK? But I still need to do the actual authentication flow with AAD outside the SDK, right? I use msal4j, ripped and adjusted from the sample somewhere.

[2021-02-02 16:11] baywet commented on #14
@black-snow We're now relying on azure-identity (which uses msal under the covers, but also streamlines auth with azure services).
See [this diff](https://github.com/microsoftgraph/microsoft-graph-docs/pull/11375/files#diff-571e20bc0a7117cc4780333454d7410d4255cb3feb06c9b5c26db7704e05d865) all the *Credential classes come from azure-identity and TokenCredentialAuthProvider comes from core (v2).
So

[2021-02-03 21:05] Aelentel opened #66 "Logging instead of Exception.printStackTrace()"
use a Logging facade instead of using Exception.printStackTrace() be it SLF4J or any useable facade.

to be honest this is a pain for any logging aggregator pipeline in production systems.

where : com.microsoft.graph.auth.publicClient.UsernamePasswordProvider
[AB#7988](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7988)

[2021-02-04 10:42] black-snow commented on #14
@baywet thanks for the quick reply! So I can basically replace my msal4j custom auth flow from the spring boot sample with azure-identity's `InteractiveBrowserCredential`? But what's the matter with the *azure vaults*? We don't use *vaults* but store the tokens in our DB. Would you mind [adding an example](https://github.com/Azure/azure-sdk-for-java/wiki/Azure-Identity-Examples) that does *not* us

[2021-02-04 13:14] baywet commented on #14
The reason why the samples you linked all use a vault is because they are backend services and the idea is to use azure-identity to get to the vault that contains all the secrets and then load those secrets from the vault, not from environment settings or configuration files.
But all of that is optional, and doesn't even apply in some cases.
Did you check [this diff](https://github.com/microsoftgr

[2021-02-04 13:48] baywet commented on #66
@Aelentel Thanks for reaching out.
At this moment we're not actively investing on this authentication library anymore. Our [v3 work](https://github.com/Azure/azure-sdk-for-java/wiki/Logging-with-Azure-SDK) includes replacing this library by azure-identity instead.
Azure-identity already uses sl4j and you can [tweak the logs through configuration](https://github.com/Azure/azure-sdk-for-java/wiki/Lo

[2021-02-04 13:48] #66 closed

[2021-02-05 18:00] ghost commented on #65
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-09 00:00] #65 closed

[2021-02-09 15:02] rpicot-lecko opened #67 "What is the proper way to use in a multithreading environnement"
We tried several strategies, and it seems whatever we do we encounter some bugs. I'd like to post a minimal working example, but it would be better if I know beforehand what is the intended way  to call msgraph api with this lib in a multithreading environment

[code]

Each thread is supposed to make this call and use his instance of the graph client ?
Or am I supposed to do that at the startup of

[2021-02-09 15:42] baywet commented on #67
Hi @rpicot-leckom
Thanks for reaching out. To properly answer this question I'd need more insights into your application like:
- What kind of application is it? (server, desktop, native)
- How do you authenticate? (which provider do you use?)

In the meantime I also suggest you check out the [v3 work and try the preview](https://github.com/microsoftgraph/msgraph-sdk-java/issues/628). A few of the

[2021-02-09 16:26] rpicot-lecko commented on #67
Thanks for the insights on v3.

For our main task, it's a server running on behalf of a user account

We use a refresh token at start to generate an authentication token and make calls with IAuthenticationProvider.
The relevant line looks like this :
`request.addHeader("Authorization", "Bearer " + token);`
When we we got everything needed, we shutdown for some time.

Is this the info you needed ?

[2021-02-09 17:31] baywet commented on #67
Are you using any of the [authentication providers available in this library](https://github.com/microsoftgraph/msgraph-sdk-java-auth#22-create-an-authentication-provider-object)? if so which one?

Have you seen [this comment](https://github.com/microsoftgraph/msgraph-sdk-java/issues/553#issuecomment-775163943) ? I believe you would be able to achieve better performances with a static reference to

[2021-02-11 09:50] rpicot-lecko commented on #67
Thanks for the answers.
We already do something close to the comment you linked. That is to say, one graphClient shared among threads, initialized once at startup, manually feeding the request with an access token in the IAuthenticationProvider, (and we do verify that the token is not close to expire before each request, and we do synchronise when necessary)

What we didn't do is putting the graph

[2021-02-11 13:24] baywet commented on #67
We recommend consumers to reuse the graphClient as much as possible (considering their authentication requirements and their app design), and yes, it's perfectly fine to have it as a static reference or better yet as a singleton as long as your app is designed in a way it won't "mix contexts" between different users (or as long as it is app only).

If you're still having some multithreading issues

[2021-02-14 05:23] Aelentel commented on #66
@baywet thanks for the answer, but fact is that i'm absolutely not using Azure services, I'm using Graph API to make booking of Teams conferences.
so basically it's Graph SDK + Graph Auth.

after looking at the Azure SDK i'm not sure how to mix those 2 things together.

in any cases, thanks for the answer.

[2021-02-14 22:24] baywet commented on #66
Sorry for the previous post it seems I pasted twice the same link instead of a link to this issue https://github.com/microsoftgraph/msgraph-sdk-java/issues/628

More importantly in the upgrade guide you'll find a link to authentication samples. https://github.com/microsoftgraph/msgraph-sdk-java/blob/feature/v3/docs/upgrade-to-v3-auth.md

There you'll find sample code for the different authenticati

[2021-02-15 08:23] rpicot-lecko commented on #67
Then I guess we have everything we need.
Many thanks for the answers : )

[2021-02-15 08:23] #67 closed

[2021-02-15 08:37] Aelentel commented on #66
@baywet Thanks a lot, that indeed helps quite a lot.
I'll update the dependencies, code, the example provided are really helpful !

[2021-02-18 14:33] valenpo commented on #14
use https://github.com/AzureAD/microsoft-authentication-library-for-java it work brilliant for all resources and has logic to renew token.

[2021-02-18 14:45] baywet commented on #14
this is what azure-identity uses under the covers, so by using v3, with azure-identity you get all of that for "free". However azure-identity doesn't have the ability to pass in the refresh token directly (in case it was stored by the application).

[2021-02-18 15:02] zeeshan-v1 commented on #14
When you say it has logic to renew token, do you mean we can initiate it
using refresh token and it auto renews the access token if expired.
Can u provide an example of the code

On Thu, 18 Feb 2021 at 8:03 PM, Valentin <notifications@github.com> wrote:

--
Regards,
Zeeshan Ali

[2021-02-18 15:06] valenpo commented on #14
@zeeshan-v1  look to https://github.com/AzureAD/microsoft-authentication-library-for-java/tree/dev/src/samples

[2021-03-16 12:22] baywet commented on #37
this has been resolved when preparing for bintray sunset

[2021-03-16 12:22] #37 closed

[2021-03-16 12:24] baywet commented on #56
Hi @mrharindra
Thanks for reaching out and for the patience. With the release of the v3 of the java SDK, it now integrates with Azure Identity which supports a wide variety of authentication flows out of the box.
We strongly encourage you to migrate to this v3 + azure identity, and you can read more about it in this issue.
https://github.com/microsoftgraph/msgraph-sdk-java/issues/628

This issue w

[2021-03-16 12:24] baywet commented on #52
Hi everyone,
Thanks for reaching out and for the patience. With the release of the v3 of the java SDK, it now integrates with Azure Identity which supports a wide variety of authentication flows out of the box.
We strongly encourage you to migrate to this v3 + azure identity, and you can read more about it in this issue.
https://github.com/microsoftgraph/msgraph-sdk-java/issues/628

This issue won

[2021-03-16 12:25] baywet commented on #35
Closing due to inactivity

[2021-03-16 12:25] #35 closed

[2021-03-16 12:25] baywet commented on #34
Hi @kokmike
Thanks for reaching out and for the patience. With the release of the v3 of the java SDK, it now integrates with Azure Identity which supports a wide variety of authentication flows out of the box.
We strongly encourage you to migrate to this v3 + azure identity, and you can read more about it in this issue.
https://github.com/microsoftgraph/msgraph-sdk-java/issues/628

This issue won'

[2021-03-16 12:26] baywet commented on #32
Closing as per @jasonjoh recommendation.

[2021-03-16 12:26] #32 closed

[2021-03-16 12:26] baywet commented on #27
Hi @davidmoten
Thanks for reaching out and for the patience. With the release of the v3 of the java SDK, it now integrates with Azure Identity which supports a wide variety of authentication flows out of the box.
We strongly encourage you to migrate to this v3 + azure identity, and you can read more about it in this issue.
https://github.com/microsoftgraph/msgraph-sdk-java/issues/628

This issue w

[2021-03-16 12:27] baywet commented on #51
Hi @zeeshan-v1
Thanks for reaching out and for the patience. With the release of the v3 of the java SDK, it now integrates with Azure Identity which supports a wide variety of authentication flows out of the box.
We strongly encourage you to migrate to this v3 + azure identity, and you can read more about it in this issue.
https://github.com/microsoftgraph/msgraph-sdk-java/issues/628

This issue w

[2021-03-16 12:28] baywet commented on #14
Hi @zeeshan-v1
Thanks for reaching out and for the patience. With the release of the v3 of the java SDK, it now integrates with Azure Identity which supports a wide variety of authentication flows out of the box.
We strongly encourage you to migrate to this v3 + azure identity, and you can read more about it in this issue.
https://github.com/microsoftgraph/msgraph-sdk-java/issues/628

This issue w

[2021-03-16 12:41] black-snow commented on #14
@baywet so v3 has just gone [GA](https://github.com/microsoftgraph/msgraph-sdk-java/releases/tag/3.0.0), eh? Thanks.